***  Configuration File  ***

***  Circuit Node Defaults  ***
dt = 1e-10
dx = 1

***  Circuit Parameter Defaults  ***
nominal = 1
min = 0.5
max = 2
sigma = 0
sig_abs = 0
static = 0
logs = 1
corners = 0
include = 1

***  Circuit Nodes  ***

***  Circuit Parameters  ***

***  2D Margins  ***
***  Example. Replace arguments with actual param names  ***
* param_x = XJ, param_y = XL

***  File Extensions  ***
circuit_extension = .cir
parameters_extension = .param
passfail_extension = .passf
envelope_extension = .envelope
plot_extension = .plot

***  General Options  ***
*fraction of sigma:
binsearch_accuracy = 0.1
spice_call_name = wrspice
max_subprocesses = 0
threads = 16
verbose = 0
print_terminal = 1

***  Options for Define  ***
d_simulate = 1
d_envelope = 1

***  Options for Margins  ***

***  Options for 2D Margins  ***
2D_iter = 16

***  Options for Corners Yield  ***
***  ranges: 0-10, 0-9, 1-40
y_search_depth = 5
y_search_width  = 5
y_search_steps  = 12
y_max_mem_k = 4194304
y_accuracy = 10
y_print_every = 0

***  Options for Optimize  ***
o_min_iter = 100
o_max_mem_k = 4194304
