* Global parameters
*these are defined in the .param file now:
*param=Xlcomp, nominal=1.0, min=0.30, max=3.0, sigma=4.0, logs=1, corners=1, include=1
*param=Xjcomp, nominal=1.0, min=0.30, max=3.0, sigma=4.0, logs=1, corners=1, include=1
param=Xljcomp, nominal=1.0, min=0.30, max=3.0, sigma=4.0, logs=1, corners=1, include=1
param=Xac, nominal=1.0, min=0.30, max=1.7, sigma=4.0, logs=0, corners=0, include=1
param=Xpdc, nominal=1.0, min=0.30, max=1.7, sigma=4.0, logs=0, corners=0, include=1
* Individual Variables
*Input waveform offset and peak-to-peak amplitude in units of Phi0
param=inoff, nominal=0.00, min= -1.0, max=1.0, sig_abs=0.04, logs=0, corners=0, include=1
param=inipp, nominal=1.00, min= 0.0, max=3.0, sig_abs=0.04, logs=0, corners=0, include=1
*Input parameters
param=b0, nominal=0.080, min=0.030, max=0.30, sigma=4.0, logs=1, corners=0, include=1
param=l0, nominal=5.00, min=1.50, max=15.0, sigma=4.0, logs=1, corners=0, include=1
*Output parameter
param=b1, nominal=0.018, min=0.006, max=0.060, sigma=4.0, logs=1, corners=0, include=0
param=b2, nominal=0.070, min=0.020, max=0.200, sigma=4.0, logs=1, corners=0, include=0
param=b34, nominal=0.040, min=0.012, max=0.120, sigma=4.0, logs=1, corners=0, include=0
param=l45, nominal=30.0, min=10, max=100, sigma=4.0, logs=1, corners=0, include=0
*** General Option ***
binsearch_accuracy=0.1
* Nodes for the Passfail criterion
dx=2
dt=40e-12
node=v(phi.Xb0)
node=v(phi.Xb0.XI1)
node=v(phi.Xb1.XI12)
